.trading-container {
  padding: 20px;
}
.main-container-trading {
  padding-top: 40px;
}
.trading-market {
  display: flex;
  gap: 90px;
}
.market-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trading-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.trading-title {
  border: none;
  background-color: #f8f9fc;
  font-size: 20px;
  font-weight: bold;
}

.trading-currency {
  color: #777;
}

.buy-button {
  background: linear-gradient(0.25turn, #0043ff, #a370f1);
  width: 70px;
  display: flex;
  align-items: center;
  height: 25px;
  color: white;
  padding: 8px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-button:hover {
  background-color: #0056b3;
}
.charts {
  display: flex;
  justify-content: space-between;
}

.trading-details {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.trading-price-trading {
  font-size: 24px;
  font-weight: normal;
}
.trading-information {
  display: flex;
  gap: 20px;
}
.trading-change {
  font-size: 18px;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.crypto-stats {
  display: flex;
  gap: 15px;
  font-size: 14px;
  color: #555;
}
.spanTotal {
  padding-right: 10px;
}
.span-value-name {
  font-weight: lighter;
}
.price-alert {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: lighter;
}

.time-filters {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.time-filters button {
  position: relative;
  background: none;
  border: none;
  font-size: 11px;
  font-weight: normal;
  color: #1f263e;
  cursor: pointer;
}

.time-filters button.active::after,
.time-filters button:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 20px;
  height: 3px;
  background: linear-gradient(90deg, #0043ff, #7a7eff);
  border-radius: 3px;
  transform: translateX(-50%);
}

.chart-container {
  padding: 20px;
  border-radius: 10px;
}

.market-cap {
  padding: 15px;
  border-radius: 10px;
  width: 270px;
}

.market-cap h3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.market-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.market-cap ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 0 !important;
}

.market-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}

.market-change {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 1149px) {
  .trading-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .trading-stats {
    display: grid;
    grid-row: 2;
  }
  .time-filters button {
    font-size: 14px;
  }
  .trading-market {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 1040px) {
  .trading-market {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .trading-details {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
  }
  .time-filters {
    display: flex;
    justify-content: center;
  }
  .market-cap {
    width: auto;
  }
  .market-cap ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: auto;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .trading-header {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .trading-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .trading-container {
    padding: 0;
  }
  .chart-container {
    padding: 0;
  }
  .market-cap ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
