.header-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 26px;
  align-items: center;
}
.search-line {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.dash-stack {
  display: flex;
  gap: 50px;
}
.dash-title {
  font-family: "Oxygen", serif;
  font-weight: bold;
  font-size: 24px;
}
.dash-title span {
  color: #1348fc;
}
.line-group {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  max-width: 20px;
  max-height: 26px;
}
.line:first-child {
  width: 20px;
}
.line:nth-child(2) {
  width: 15px;
}
.line:nth-child(3) {
  width: 20px;
}
.line:nth-child(4) {
  width: 15px;
}
.line {
  background-color: #000;
  height: 1px;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
}
.search-input {
  display: flex !important;
  align-items: center !important;
  width: 240px !important;
  height: 30px !important;
  border-radius: 15px !important;
  border-color: none !important;
  box-shadow: none !important;
  background-color: #97979735 !important;
  padding-left: 35px !important;
  all: unset;
}
.faSearch {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #50b8e4;
  font-size: 18px;
}

.search-input::placeholder {
  font-family: "Oxygen", serif;
}
.ash-stack-right {
}
.profile-admin-photo {
  border: 1px solid white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.setting-icon {
  width: 25px;
  height: 25px;
}
.dash-stack-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.flag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
.icon-container {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
